.children {
  &__container {
    padding: 40px 15px;

  }

  &__title {
    font-size: clamp(40px, 6vw, 88px);
  }

  &__text {
    font-size: clamp(22px, 2.5vw,30px);
    max-width: 65%;
  }

  &__content {
    margin-top: 40px;
    display: flex;
  }

  &__lists {
   flex: 1 1 65%;
  }

  &__img {
    min-width: 35%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  &__item {
    border-bottom: 2px solid rgba(142, 142, 142, .7);
    padding: 15px 0;
  }

  &__itemTitle {
    font-size: clamp(40px, 4vw ,55px);
    font-weight: 500;
    line-height: 96%;
    transition: color .3s ease-out 0s;
  }

  &__itemDiag {
    font-size: 20px;
    letter-spacing: 0.8px;
    opacity: .8;
  }

  &__itemContent, &__itemHelpContent {
    display: flex;
    gap: 5px;
    align-items: end;
  }

  &__itemDesc {
    margin: 10px 0 0 15px;
  }

  &__desc {
    color: #9c9c9c;
  }

  &__itemHelp {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: opacity .3s ease,
                visibility 0s linear .3s,
                height .3s ease,
                width .3s ease;
  }


  &__itemDescImg {
    display: none;
  }
}

.list__item:hover .list__itemTitle {
  color: var(--orange-text);
}

.list__item:hover .list__itemDiag {
  display: none;
}

.list__item:hover .list__itemHelp {
  opacity: 1;
  visibility: visible;
  height: auto;
  width: auto;
  transition-delay: 0s;
}


@media(max-width: 1023.98px) {
  .children {
    &__lists {
      flex: 1 1 100%;
    }
    &__img {
      display: none;
    }
  }

  .list {
    &__itemHelpContent,
    &__itemContent {
      display: flex;
      align-items: normal;
      flex-direction: column;
    }
    &__itemDescImg {
      display: block;
    }
  }
}

@media(max-width: 767.98px) {
  .list {
    &__itemDesc {
      margin: 10px 0 0 0;
    }
  }
}