.posts {
  &__container {
     padding: 50px 10px 150px 10px;
  }

  &__title {
    margin-bottom: clamp(20px, 3vw, 34px);
    font-weight: 400;
    color: #333;
    font-size: clamp(30px, 3vw, 94.8px);
    line-height: 94px;
    letter-spacing: -.04em;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 1439.98px) {
  .cards {
    justify-content: center;
    gap: 10px;
  }
}

@media(max-width: 767.98px) {
  .posts {
    &__container {
      padding: 50px 5px 70px 5px;
    }
  }
}