.header {
  background: linear-gradient(90deg, var(--orange-text) 50%, #fff 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  z-index: 5;

  &__container {
    padding: 28px 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__logo {
    color: white;
    display: flex;
    column-gap: clamp(30px, 4.6vw, 90px);
  }

  &__logoImg {

  }

  &__logoDesc {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.7px;
    letter-spacing: 1.28px;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__leftContent {
    display: flex;
    padding: 0 15px;
  }

  &__rightContent {
    display: flex;
    align-items: center;
    column-gap: clamp(20px, 2vw, 40px);
    padding-left: clamp(15px, 2.5vw, 50px);
    padding-right: 15px;
    position: relative;
    z-index: 5;
  }
}

.menu {
  z-index: 1;

  &__body {
    position: absolute;
    right: 0;
    width: 50%;
    height: calc(100vh - 120px);
    background-color: #fff;
    transform: translateY(-100vh);
    transition: transform 0.2s ease-in-out;
    z-index: 1;
  }

  &__list {
    padding: 50px 50px 0 50px;
  }

  &__item {
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    position: relative;
    padding: 15px 0;
    &:first-child {
      border-top: 1px solid #DFDFDF;
    }
  }

  &__link {
    font-size: clamp(25px, 3.5vw, 58px);
    font-style: normal;
    font-weight: 400;
    transition: color .2s ease-out 0s;
    position: relative;
    width: 100%;

    &::after {
      content: '+';
      width: 30px;
      height: 30px;
      color: #000;
      position: absolute;
      right: 0;
    }

    &:hover {
      color: var(--orange-text);

      &::after {
        color: var(--orange-text);
      }
    }
  }
}

.menu__body.active {
  transform: translateY(0);
}

.icon__menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  width: 90px;
  height: 18px;
  z-index: 5;

  font-size: 20px;
  font-weight: 400;
  line-height: 24.7px;
  letter-spacing: -1.2px;


  transition: opacity .1s ease-out 0s;

  &:hover {
    opacity: .7;
  }

  @media (any-hover: none) {
    cursor: default;
  }

  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #000;
    z-index: 5;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: calc(50% - 1px);
  }

  &.active {
    span {
      width: 0;
      display: none;
    }

    &::before,
    &::after {
    }

    &::before {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
    }

    &::after {
      bottom: calc(50% - 1px);
      transform: rotate(45deg);
    }
  }
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.icon__text {
  margin-left: 35px;
}

.help {
  color: var(--orange-text);
  display: flex;
  padding-left: 30px;
  position: relative;

  font-size: 20px;
  font-weight: 400;
  line-height: 24.7px;
  letter-spacing: -1.4px;

  transition: opacity .2s ease-out 0s;

  &::before {
    content: url('/heart.svg');
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
  }

  &:hover {
    opacity: .7;
  }
}

@media(max-width: 1023.98px) {
  .header {
    background: var(--orange-text);

    &__container {
      padding: 14px 0 8px 0;
    }

    &__img {
      height: 40px;
    }

    &__logoDesc {
      display: none;
    }

    &__leftContent {
      justify-content: center;
    }

    &__rightContent {
      flex-direction: row-reverse;
    }
  }

  .menu {
    &__body {
      width: 100%;
      transform: translateY(0) translateX(-100%);
    }

    &__list {
      padding: 25px 25px 0 25px;
    }
  }

  .help {
    font-size: 16px;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 0px;
    padding: 0 10px;

    &::before {
      display: none;
    }
  }

  .icon__menu {
    width: 30px;

    span,
    &::before,
    &::after {
      background-color: #fff;
    }
  }

  .icon__text {
    display: none;
  }
}

@media(max-width: 424.98px) {
  .header {
    &__leftContent {
      padding-left: 15px;
      padding-right: 0px;
    }
  }
}